---
import { SOCIAL } from '../consts';
import { SITE_DESCRIPTION } from '../consts';
---

<footer>
	{
		SOCIAL.map(({ username, link }) => (
		<li>
			<a href={link}>
				<span class="username">
					{username}
				</span>
			</a>
		</li>
		))
	}
		<p> <i>{SITE_DESCRIPTION}</i> </p>
</footer>

<style>
	li {
		list-style: none;
	}
</style>
