---
import type { CollectionEntry } from 'astro:content';
import Head from '../components/Head.astro';
import Body from '../components/Body.astro';
import Date from '../components/Date.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, published } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<Head title={title} description={description} />

	<Body>
		<article>
			<h1 class="title">{title}</h1>
			<Date date={published} />
			<hr />
			<slot />
		</article>
	</Body>
</html>
